<div class="jumbotron">
    @*@await Component.InvokeAsync("Marketing.ViewComponents.HomeHeadlineItemDescription", @Model.HeadlineProduct)
    @await Component.InvokeAsync("Sales.ViewComponents.HomeItemPrice", @Model.HeadlineProduct)
    @await Component.InvokeAsync("CustomerCare.ViewComponents.ItemRating", @Model.HeadlineProduct)*@
</div>