<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Warehouse <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/stockItems">All stock items</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/stockItems/new">Create new stock item</a></li>
    </ul>
</li>