<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Marketing <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/productdrafts">All Product Drafts</a></li>
        @*<li role="separator" class="divider"></li>
        <li><a href="/stockItems/new">Create new stock item</a></li>*@
    </ul>
</li>