@{
    var destinationUrl = ((string)Model.StockItemId)
        .ToLowerInvariant()
        .Replace("stockitems", "products");
}
<h3><a href="/@destinationUrl">@Model.Title</a></h3>
<p>@Model.Description</p>