@{
    ViewData["Title"] = Model.ItemDescription.Title;
}
<div class="jumbotron">
    @await Component.InvokeAsync("CustomerCare.ViewComponents.ItemRating", Model)
    <hr />
    @await Component.InvokeAsync("Marketing.ViewComponents.ItemDescription", Model)
    @await Component.InvokeAsync("Sales.ViewComponents.ItemPrice", Model)
    @await Component.InvokeAsync("Shipping.ViewComponents.ItemShippingInfo", Model)
    <hr />
    @await Component.InvokeAsync("CustomerCare.ViewComponents.ItemReviews", Model)
</div>