@{
    var destinationUrl = ((string)Model.StockItemId)
        .ToLowerInvariant()
        .Replace("stockitems", "products");
}
<h1><a href="/@destinationUrl">@Model.Title</a></h1>
<p>@Model.Description</p>